<table style="background-color:black;width:100%">
<tr>
<th style="color:white;text-align:left;font-size:32px">Admire Admin<mat-icon style="color:white;padding-left:150px">dehaze</mat-icon></th>
<td style="color:white"><mat-icon style="color:white">inbox</mat-icon>Inbox
<mat-icon style="color:white">mode_edit</mat-icon>Compose
<mat-icon style="color:white">place</mat-icon>Maps
<mat-icon style="color:white">insert_photo</mat-icon>Gallery</td>
</tr>
</table>


<lib-codedisplay>
<pre class="htmlcode">
<code>
&lt;table style="background-color:black;width:100%"&gt;
&lt;tr&gt;
&lt;th style="color:white;text-align:left;font-size:32px"&gt;Admire Admin&lt;mat-icon style="color:white;padding-left:150px"&gt;dehaze&lt;/mat-icon&gt;&lt;/th&gt;
&lt;td style="color:white"&gt;&lt;mat-icon style="color:white"&gt;inbox&lt;/mat-icon&gt;Inbox
&lt;mat-icon style="color:white"&gt;mode_edit&lt;/mat-icon&gt;Compose
&lt;mat-icon style="color:white"&gt;place&lt;/mat-icon&gt;Maps
&lt;mat-icon style="color:white"&gt;insert_photo&lt;/mat-icon&gt;Gallery&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;

</code>
</pre>



<pre class="ts">
<code>
{{"import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'lib-menu',
  templateUrl:'./menu.component.html',
  styleUrls: ['./menu.component.css'
  ]
})
export class MenuComponent implements OnInit {

  
  constructor() { }

  ngOnInit(): void {
  }

}
"}}
</code>
</pre>
</lib-codedisplay>