table{
    background-color: white;
}
.full{
    background-color:white;
    padding: 10px;
    border-collapse: collapse;
    border:solid  lightgrey 5px;
}
th{
    font-size: 22px;
}
td{
    font-size: 15px;
    padding-left: 10px;
}
 ngb-progressbar {
    margin-top: 5rem;
  }

  .htmlcode{
    color: blanchedalmond;
}
.css{
    color: blanchedalmond;
}
.ts{
    color: blanchedalmond;
}

  .code{
    background-color: black;
   flex: 1 1 auto;
    margin-left: 500px;
    margin-top: 200px;
  }
