<mat-toolbar style="background-color:blue;color:white">My App
<div class="space"></div>
<a mat-button routerLink="/stock">Stock</a>

<a mat-button routerLink="/piechart">Pie Chart</a>

<a mat-button routerLink="/linechart">Line Chart</a>

<a mat-button routerLink="/areachart">Area Chart</a>

<a mat-button routerLink="/horibarchart">Horizontal Bar Chart</a>

<a mat-button routerLink="/progress">Progress Chart</a>

<a mat-button routerLink="/weather">Weather</a>

<a mat-button routerLink="/menu">Menu Bar</a>

<a mat-button routerLink="/dashboard">Dashboard</a>


<a mat-button routerLink="/sales">Sales</a>

<a mat-button routerLink="/table">Table</a>

</mat-toolbar>




<router-outlet></router-outlet>