table {
    width: 100%;
    border-collapse : collapse;
  }
  input{
    width : 200px;
  }
  .htmlcode{
    color: blanchedalmond;
}
.css{
    color: blanchedalmond;
}
.ts{
    color: blanchedalmond;
}
