#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }
  
  .htmlcode{
    color: blanchedalmond;
}
.css{
    color: blanchedalmond;
}
.ts{
    color: blanchedalmond;
}